<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-container>
          <v-row>
            <v-col cols="12" md="8">
              <v-file-input :rules="rules" accept="image/png, image/jpeg, image/bmp" placeholder="Pick your product"
                prepend-icon="mdi-camera" label="Product Image" @change="inputFile($event)"></v-file-input>
            </v-col>
            <v-col v-if="src" cols="12" md="4" order-md="first">
              <img :src="src" alt="" style="width : 100%">
            </v-col>
          </v-row>
          <v-row v-if="!src">
            <v-col cols="12 justify-center align-center"
              style="height : 500px; width : 100%; display : flex; text-align : center">
              <h1 style="color :#bfbfbf">Please pick your product image to search...</h1>
            </v-col>
          </v-row>
          <v-row v-if="src">
            <v-col cols="12" md="3" v-for="(product,i) in booproducts" :key="i">
              <a :href="`https://boo.vn/products/${product.labels.slug}`" target="_blank">
                <img :src="product.image_url" alt="" style="width : 100%">
              </a>
              <p style="text-decoration : none; color : black">{{product.display_name}}</p>
            </v-col>
          </v-row>
        </v-container>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: {
        rules: [],
        src: '',
        booproducts: []
      },
      methods: {
        inputFile(e) {
          console.log(e)
          if (e) {
            this.src = URL.createObjectURL(e);
          }
          if (!e) {
            this.src = null
          }
          let formData = new FormData();
          formData.set('img', e)
          axios({
            method: 'post',
            url: 'https://glados.boo.vn/v1/api/ai/vision_product/search',
            data: formData
          }).then(res => {
            this.booproducts = res.data.data
          }).catch(err => console.log(err))
        }
      }
    })
  </script>
</body>

</html>